@keyframes anime {
    10% {background: black;}
    20% {background: orange;}
    30% {background: darkorange;}
    40% {background: orangered;}
    50% {background: rgb(165, 220, 224);}
    60% {background: rgb(103, 27, 0);}
    70% {background: rgb(240, 42, 194);}
    80% {background: rgb(54, 195, 92);}
    90% {background: rgb(153, 217, 49);}
    100% {background: rgb(244, 6, 6);}
}
@keyframes rotation {
    50% {transform: rotate(180deg);background: #FAFAFA;}
}
@keyframes skew {
    50% {transform: scale(5.5);}
}
.father{
    display: flex;

}
.app1{
    width: 100px;
    height: 100px;
    border: 2px solid  #FAFAFA;
    margin-top: 300px ;
    margin-bottom: 300px ;
    margin-left: 190px;
    animation: rotation 2s infinite;

}
.app1 div{
    width: 50px;
    height: 50px;
    margin: 25px auto;
    border: 2px solid  #FAFAFA;  
    animation: skew 5s infinite;
}
.app2{
    width: 100px;
    height: 100px;
    border: 2px solid  #FAFAFA;
    margin-top: 300px ;
    margin-bottom: 300px ;
    margin-right: 190px;
    animation: rotation 2s infinite;

}
.app2 div{
    width: 50px;
    height: 50px;
    margin: 25px auto;
    border: 2px solid  #FAFAFA;    
    animation: skew 5s infinite;
}
.App{
    height: 532px;
    width: 550px;
    position: relative;
    margin: 100px auto;
    box-shadow: 0 0 9px #000 ;
    /* background-image:linear-gradient(lightblue ,lightgreen ,gray ); */
    /* animation: anime 15s infinite ; */

}

.App h2{
    text-align: center;
    padding-top: 10px;
    color: #FAFAFA;
    text-shadow: -3px 6px 8px #000000;
}



.App-1{
    height: 532px;
    width: 550px;
    position: absolute;
    background-color: #c4ae1c;
    animation: anime 15s infinite;

}
.App-2{
    height: 532px;
    width: 550px;
    /* position: absolute; */
    /* transform: rotateY(180deg); */
    /* backface-visibility: hidden ; */

    
}

.App-1 button{
    width: 20vh;
    position: absolute;
    top: 31vh;
    left: 1vh;
}






